In [27]:
from pandas_datareader import data
# only works on Google Colab, not locally

import matplotlib.pyplot as plt
import pandas as pd
import datetime
import os

In [16]:
# Google Colab's Datareader

tickers = ['AAPL', 'MSFT', 'FB', 'GOOG', 'AMZN', '^GSPC', '^IXIC']

start_date = datetime.datetime(2020,9,4)
end_date = datetime.datetime(2020,12,3)

panel_data = data.DataReader(tickers, 'yahoo', start_date, end_date)

df = pd.DataFrame(panel_data)

In [17]:
df['Close']

Symbols           AAPL        MSFT  ...        ^GSPC         ^IXIC
Date                                ...
2020-09-04  120.959999  214.250000  ...  3426.959961  11313.129883
2020-09-08  112.820000  202.660004  ...  3331.840088  10847.690430
2020-09-09  117.320000  211.289993  ...  3398.959961  11141.559570
2020-09-10  113.489998  205.369995  ...  3339.189941  10919.589844
2020-09-11  112.000000  204.029999  ...  3340.969971  10853.549805
...                ...         ...  ...          ...           ...
2020-11-27  116.589996  215.229996  ...  3638.350098  12205.849609
2020-11-30  119.050003  214.070007  ...  3621.629883  12198.740234
2020-12-01  122.720001  216.210007  ...  3662.449951  12355.110352
2020-12-02  123.080002  215.369995  ...  3669.010010  12349.370117
2020-12-03  122.940002  214.240005  ...  3666.719971  12377.179688

[63 rows x 7 columns]

In [18]:
close = df['Close']
close = pd.DataFrame(close)

In [19]:
# closing stock price for 2020-10-30 to 2020-11-25
close.drop(close.tail(1).index,inplace=True)

In [20]:
close

Symbols           AAPL        MSFT  ...        ^GSPC         ^IXIC
Date                                ...
2020-09-04  120.959999  214.250000  ...  3426.959961  11313.129883
2020-09-08  112.820000  202.660004  ...  3331.840088  10847.690430
2020-09-09  117.320000  211.289993  ...  3398.959961  11141.559570
2020-09-10  113.489998  205.369995  ...  3339.189941  10919.589844
2020-09-11  112.000000  204.029999  ...  3340.969971  10853.549805
...                ...         ...  ...          ...           ...
2020-11-25  116.029999  213.869995  ...  3629.649902  12094.400391
2020-11-27  116.589996  215.229996  ...  3638.350098  12205.849609
2020-11-30  119.050003  214.070007  ...  3621.629883  12198.740234
2020-12-01  122.720001  216.210007  ...  3662.449951  12355.110352
2020-12-02  123.080002  215.369995  ...  3669.010010  12349.370117

[62 rows x 7 columns]

In [21]:
open = df['Open']
open = pd.DataFrame(open)

In [22]:
# opening stock price for 2020-11-02 to 2020-11-27
open.drop(open.head(1).index,inplace=True)

In [23]:
open

Symbols           AAPL        MSFT  ...        ^GSPC         ^IXIC
Date                                ...
2020-09-08  113.949997  206.500000  ...  3371.879883  10900.700195
2020-09-09  117.260002  207.600006  ...  3369.820068  11064.759766
2020-09-10  120.360001  213.399994  ...  3412.560059  11235.530273
2020-09-11  114.570000  207.199997  ...  3352.699951  11010.070312
2020-09-14  114.720001  204.240005  ...  3363.560059  11010.139648
...                ...         ...  ...          ...           ...
2020-11-27  116.570000  214.850006  ...  3638.550049  12159.179688
2020-11-30  116.970001  214.100006  ...  3634.179932  12224.250000
2020-12-01  121.010002  214.509995  ...  3645.870117  12313.360352
2020-12-02  122.019997  214.880005  ...  3653.780029  12285.750000
2020-12-03  123.519997  214.610001  ...  3668.280029  12369.259766

[62 rows x 7 columns]

In [24]:
diff = open.subtract(close.values)

In [25]:
# difference = opening price - closing price the day before
diff

Symbols         AAPL      MSFT         FB  ...        AMZN      ^GSPC       ^IXIC
Date                                       ...
2020-09-08 -7.010002 -7.750000 -11.450012  ... -150.620117 -55.080078 -412.429688
2020-09-09  4.440002  4.940002   4.609985  ...   53.149902  37.979980  217.069336
2020-09-10  3.040001  2.110001   1.790009  ...   38.609863  13.600098   93.970703
2020-09-11  1.080002  1.830002   1.970001  ...   33.579834  13.510010   90.480469
2020-09-14  2.720001  0.210007   4.340027  ...   56.719971  22.590088  156.589844
...              ...       ...        ...  ...         ...        ...         ...
2020-11-27  0.540001  0.980011   1.800018  ...   26.189941   8.900146   64.779297
2020-11-30  0.380005 -1.129990  -1.779999  ...   13.139893  -4.170166   18.400391
2020-12-01  1.959999  0.439987   2.190002  ...   20.459961  24.240234  114.620117
2020-12-02 -0.700005 -1.330002  -1.190002  ...    1.569824  -8.669922  -69.360352
2020-12-03  0.439995 -0.759995  -1.269989  ...    1.929932  -0.729980   19.889648

[62 rows x 7 columns]

In [30]:

diff.to_csv('diff_3mo_final.csv', mode="a")